# **LoopsResultsAnalysis**

## **1. Importing and First Proccesing**

In [1]:
import pandas as pd
from DataCleaning import *
from ProcessingConfig import *

pd.options.display.max_columns = 50

In [2]:
raw_data = pd.read_excel(cleaning_config['raw_data_path'])
raw_data = clean_data(raw_data)

-- drop_first_loop: 1298 rows were filtered out.
-- drop_first_line: 1932 rows were filtered out.
-- filter_trail_outliers: 698 rows were filtered out.
-- filter_step_outliers: 172 rows were filtered out.

In [3]:
n_subjects = raw_data['subject'].nunique()
print(f'number of subjects: {n_subjects}')

n_sessions = raw_data[['subject', 'trial_set']].drop_duplicates().shape[0]
print(f'number of sessions: {n_sessions}')

number of subjects: 16
number of sessions: 23

## **2. Priming Effect Testing**

In [16]:
switching_diff = pd.DataFrame()

# mean response time and success rate, group by loop type and loop switching.
switching_diff['mean_response_time'] = raw_data[raw_data['correct']].groupby(['loop_type', 'loop_type_switch'])['rt'].mean()
switching_diff['mean_success_rate'] = raw_data.groupby(['loop_type', 'loop_type_switch'])['correct'].mean()

# loop ending response time, group by loop type and loop switching.
loop_end_mask = (raw_data['response_needed']) & (raw_data['expected_response'].isnull()) & (raw_data['correct'])
switching_diff['loop_end_mean_response_time'] = raw_data.loc[loop_end_mask].groupby(['loop_type', 'loop_type_switch'])['rt'].mean()

switching_diff

                            mean_response_time  mean_success_rate  \
loop_type loop_type_switch
for       False                    1325.950968           0.979772
          True                     1344.712999           0.982301
while     False                    1578.032429           0.982445
          True                     1591.939535           0.976005

                            loop_end_mean_response_time
loop_type loop_type_switch
for       False                              569.785068
          True                               569.050575
while     False                              841.376147
          True                               777.302752